
version: "3.8"
services:
  wireguard-siteA:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard-siteA
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Copenhagen
    restart: unless-stopped

